* text=auto

.fvmrc text eol=lf
.github/CODEOWNERS text eol=lf
.github/CONTRIBUTING.md text eol=lf
.github/workflows/*.yml text eol=lf
.gitignore text eol=lf
.release-please-manifest.json text eol=lf
analysis_options.yaml text eol=lf
pubspec.lock text eol=lf
pubspec.yaml text eol=lf

assets/**/*.svg text eol=lf
docs/** text eol=lf

lib/** text eol=lf
test/** text eol=lf

macos/** text eol=lf
linux/** text eol=lf
windows/.gitignore text eol=lf
windows/CMakeLists.txt text eol=lf
windows/flutter/** text eol=lf
windows/runner/** text eol=lf

release-please-config.json text eol=lf

*.ps1 text eol=crlf
*.rc text eol=crlf

*.dll binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.ttf binary
